html {
    margin-top:0%;
    padding:0%;
    box-sizing:border-box;
}
body {
    margin:0%;
    display:block;
    background-color:Black;
    color:DarkGreen;
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#top {
    display:inline-block;
    height:6em;
    width:100%;
    background-color: white;
    border:solid 2px darkgreen;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:2opx;
}
#Log {
    margin-left:550px;
    margin-top:80px;
    text-align:center;
    border:solid 4px DarkGreen;
    border-radius:15px;
    height:40%;
    width:240px;
}
h2 {
    color:DarkGreen;
}
input {
    width:100%;
    height:35px;
    color:DarkRed;
    font-size:18px;
    font-weight:bolder;
    border:solid 4px DarkGreen;
    border-left:none;
    border-right:none;
}
button {
    margin-top:5px;
    width:80px;
    height:30px;

}