html {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: black;
    margin-top:0%;
    margin:0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#svg-menu{
    width:45px;
    height:45x;
    margin-top:25px;
    margin-left:2em;
}
#svg-menu:hover {
    cursor: pointer;
    
}
.sidenav {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
#S_bar   {
    list-style-type:none;
    margin-left:0%;
    padding:0%;
}
.sidenav  li a:hover {
    background-color:rgb(116, 116, 116);
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    text-align:Center;
    color:White;
    font-size:22px;
    transition: margin-left .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.top {
    display:block;
    margin-top:0%;
    height:6em;
    background-image:linear-gradient(DarkGreen,Black);
    border-bottom:solid 2px DarkGreen;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;

}
.closebtn:hover {
    color:lightgrey;
}
#Main_Header {
    text-align:center;
    margin-top:-40px;
    color:darkred;
}
#login {
    float:right;
    margin-top:-60px;
    margin-right:20px;
    height:40px;
    width:40px;
}
#login:hover {
    cursor: pointer;
}